[server]

# this is only for the mysqld standalone daemon
[mysqld]

#
# * Basic Settings
#
datadir                 = /var/lib/mysql
socket                  = /run/mysqld/mysqld.sock
bind-address            = *
port                    = 3306
user                    = mysql
